body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

.container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
  margin-top: 20px;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #2980b9;
  border: 2px solid #3498db;
}

.btn:focus {
  outline: none;
}

.btn-edulastic {
  background: url('edulastic-logo.png') no-repeat 10px center;
  background-size: 30px 30px;
}

.btn-gradebook {
  background: url('gradebook-logo.png') no-repeat 10px center;
  background-size: 30px 30px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.logout-button {
  text-align: right;
  margin: 10px;
}

.btn-logout {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #e74c3c;
  border: 2px solid #c0392b;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #c0392b;
  border: 2px solid #e74c3c;
}

.btn-logout:focus {
  outline: none;
}
